{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">       
        <title>L'animalerie d'Ibrahim</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Bienvenue dans l'animalerie d'Ibrahim!</a></h1>
        </div>
        <h3>Description des règles de fonctionnement de l'animalerie</h3> 
        <p>Les animaux peuvent se trouver dans 4 états possible : affamé, repus, fatigué ou endormi.
        Les lieux peuvent quant à  eux être remplis en vérifiant certaines contraintes d'intégrité:
           <p> - seul un animal affamé accepte d'être nourri dans le mangeoire </p>
           <p> - seul un animal repus accepte de faire de l'exercice sur la roue </p>
           <p> - seul un animal fatigué accepte de dormir dans le nid </p>
           <p> - seul un animal endormi peut être réveillé. Une fois réveillé, il est placé dans la litière</p>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>